# Auto detect text files and perform LF normalization
* text=auto
# This is a comment
# Ignore this folder
folder/
*.vscode*
# Ignore this file
.setting
# Ignore ide stuff
.vs/
# ignore bin
bin/
bin/Debug
# ignore build stuff
Properties
out/
output/
build/
report/
reports/
obj/